{% extends "base.html" %}


{% block styles %}
<style>

    .row{
        height:100vh;
    }
    span{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgba(255,255,255,0.6);
        width:75%;
        border-radius: 15px;
    }
    body{
        background-color:lightslategray;
    }
    #users{
        background-image: url("../static/assets/user_gym.jpg");
        background-size: cover;
    }
    #trainers{
        background-image: url("../static/assets/trainer_gym.jpg");
        background-size: cover;
    }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div id="users" class="col-12 col-lg-6 text-center login-selector" onclick="javascript:location.href='/login_members'" onmouseover="over(this)" onmouseout="out(this)">
            <span class="center">Usuarios</span>
        </div>
        <div id="trainers" class="col-12 col-lg-6 text-center login-selector" onclick="javascript:location.href='/login_instructors'" onmouseover="over(this)" onmouseout="out(this)">
            <span class="center">Entrenadores</span>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
function over(element){
    element.childNodes[1].style.backgroundColor = 'rgba(255,255,255,0.9)'
}
function out(element){
    element.childNodes[1].style.backgroundColor = 'rgba(255,255,255,0.5)'
}
</script>
{% endblock %}
