{% extends "base.html" %}

{% block styles %}
<style>
    body{
        background-color:lightslategray;
    }
    .card{
        border-radius: 10px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .big-card{
        height: 90%;
        overflow-y:auto
    }
    #first_row{
        height:40vh;
        background-color:aqua;
    }
    #second_row{
        max-height:60vh!important;
        background-color: blueviolet;
    }
    .info-card{
        height: 50%;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-2">Nombre</div>
                        <div class="col-2">Apellidos</div>
                        <div class="col-2">Correo</div>
                        <div class="col-2">Peso</div>
                        <div class="col-1">IMC</div>
                        <div class="col-1">Cintura</div>
                        <div class="col-2">Registrar</div>
                    </div>
                </div>
                <div class="card-body">
                    {% for member in members %}
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col-2">{{member['name']}} </div>
                                    <div class="col-2">{{member['last_name']}} {{member['surname']}}</div>
                                    <div class="col-2">{{member['email']}}</div>
                                    <div class="col-2">{{member['weight']}} kg</div>
                                    <div class="col-1">{{member['imc']}} %</div>
                                    <div class="col-1">{{member['waist']}} cm</div>
                                    <div class="col-2"><a href="/progress_register?id={{member['id']}}">Editar</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
