{% extends "base.html" %}

{% block styles %}
<style>
    .btn{
        width:100%;
    }
    .btn-secondary{
        height:30px;
        font-size: 12px;
    }
    #welcome{
        font-size:22px;
        font-weight: bolder;
    }
    body{
        background-color:lightslategray;
    }
    .card{
        border-radius: 10px;
    }

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row center" id="login-form">
        <div class="col"></div>
        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header text-center">
                    <span id="welcome">Bienvenido miembro</span>
                </div>
                <div class="card-body">
                    <form action="" class="text-center" method="POST">
                        <div class="form-group">
                            <label for="user">Usuario:</label>
                            <input type="email" class="form-control" id="user" name="user" placeholder="Correo de usuario">
                        </div>
                        <div class="form-group">
                            <label for="psswd">Contraseña:</label>
                            <input type="password" class="form-control" id="psswd" name="psswd" placeholder="Contraseña de acceso">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                        <div class="form-group">
                            <a href="/register" class="btn btn-secondary">Registrarme</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
