{% extends "base.html" %}

{% block styles %}
<style>
    body{
        background-color:lightslategray;
    }
    .card{
        border-radius: 10px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .big-card{
        height: 90%;
        overflow-y:auto
    }
    #first_row{
        height:40vh;

    }
    #second_row{
        max-height:60vh!important;

    }
    .info-card{
        height: 50%;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row" id="first_row">
        <div class="col-12 col-lg-6">
            <div class="card big-card" style="max-height:38vh;">
                <h5 class="card-header text-center">{{personal_info['name']}} {{personal_info['last_name']}} {{personal_info['surname']}}</h5>
                <div class="card-body">
                    <div class="row info-card text-center">
                        <div class="col-lg-1 col"></div>
                        <div class="card text-white bg-primary text-center col-lg-4 col-12">
                            <div class="card-body center">
                                Peso: {{detailed_info['weight']}} kg     
                            </div>
                        </div>
                        <div class="col-lg-2 col"></div>
                        <div class="card text-white bg-primary text-center col-lg-4 col-12">
                            <div class="card-body center">
                                Cintura: {{detailed_info['waist']}} cm     
                            </div>
                        </div>
                        <div class="col-lg-1 col"></div>
                    </div> 
                    <div class="row info-card text-center">
                        <div class="col-lg-1 col"></div>
                        <div class="card text-white bg-primary text-center col-lg-4 col-12">
                            <div class="card-body center">
                                I.M.C.: {{detailed_info['imc']}} %
                            </div>
                        </div>
                        <div class="col-lg-2 col"></div>
                        <div class="card text-white bg-primary text-center col-lg-4 col-12">
                            <div class="card-body center">
                                Estatura: {{detailed_info['height']}} mts
                            </div>
                        </div>
                        <div class="col-lg-1 col"></div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card big-card" style="max-height:38vh;">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-3">Peso</div>
                        <div class="col-3">Cintura</div>
                        <div class="col-3">IMC</div>
                        <div class="col-3">Fecha</div>
                    </div>
                </div>
                <div class="card-body">
                    {% for progress_register in progress_info %}
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col-3">{{progress_register['weight']}} kg</div>
                                    <div class="col-3">{{progress_register['height']}} mts</div>
                                    <div class="col-3">{{progress_register['imc']}} %</div>
                                    <div class="col-3">{{progress_register['date']}}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="second_row">
        <div class="col-12 col-lg-6">
            <div class="card big-card" style="max-height:57vh;">
                <h5 class="card-header text-center">Dieta: {{diet_info['name']}}</h5>
                <div class="card-body">
                    {% for diet_days in diet_info['days'] %}
                        <div class="card text-white bg-secondary">
                            <h6 class="card-header text-center">{{diet_days['day']}}</h6>
                            <div class="card-body">
                                {{diet_days['instructions']}}
                            </div>
                        </div>
                    {% endfor %}

                    
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card big-card" style="max-height:57vh;">
                <h5 class="card-header text-center">Rutina: {{routine_info['name']}}</h5>
                <div class="card-body">
                    {% for routine_days in routine_info['days'] %}
                        <div class="card text-white bg-secondary">
                            <h6 class="card-header text-center">{{routine_days['day']}}</h6>
                            <div class="card-body">
                                {{routine_days['instructions']}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
