{% extends "base.html" %}

{% block styles %}
<style>
    .btn{
        width:100%;
    }
    .btn-secondary{
        height:30px;
        font-size: 12px;
    }
    #reg{
        font-size:22px;
        font-weight: bolder;
    }
    body{
        background-color:lightslategray;
    }
    .card{
        border-radius: 10px;
        margin-top:20px;
        margin-bottom:20px;
    }

</style>
{% endblock %}

{% block body %}
<div class="container">    
    <div class="card">
        <h5 class="card-header">Registro de avance</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form action="" class="text-center" method="POST">
                        <div class="form-group">
                            <label for="weight">Peso:</label>
                            <input type="number" step="0.01" class="form-control" id="weight" name="weight" placeholder="Peso">
                        </div>
                        <div class="form-group">
                            <label for="height">Estatura:</label>
                            <input type="number" step="0.1" class="form-control" id="height" name="height" placeholder="Estatura">
                        </div>
                        <div class="form-group">
                            <label for="waist">Cintura:</label>
                            <input type="number" step="0.1" class="form-control" id="waist" name="waist" placeholder="Cintura">
                        </div>
                        <div class="form-group">
                            <label for="imc">IMC:</label>
                            <input type="number" step="0.1" class="form-control" id="imc" name="imc" placeholder="IMC">
                        </div>
                        <div class="form-group">
                            <label for="routine-selector">Rutina:</label>
                            <select class="form-control" id="routine-selector" name="routine-selector" required>
                                <option value="" selected disabled hidden>- Seleccione una rutina -</option>
                                {% for routine in routines_list %}
                                    <option value="{{ routine['id'] }}">{{ routine["name"] }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diet-selector">Dieta:</label>
                            <select class="form-control" id="diet-selector" name="diet-selector" required>
                                <option value="" selected disabled hidden>- Seleccione una dieta -</option>
                                {% for diet in diets_list %}
                                    <option value="{{ diet['id'] }}">{{ diet["name"] }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Registrar progreso</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
