{% extends "base.html" %}

{% block styles %}
<style>
    .btn{
        width:100%;
    }
    .btn-secondary{
        height:30px;
        font-size: 12px;
    }
    #reg{
        font-size:22px;
        font-weight: bolder;
    }
    body{
        background-color:lightslategray;
    }
    .card{
        border-radius: 10px;
        margin-top:20px;
        margin-bottom:20px;
    }

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" id="login-form">
        <div class="col"></div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
            <div class="card">
                <div class="card-header text-center">
                    <span id="reg">Rellena los campos</span>
                </div>
                <div class="card-body">
                    <form action="" class="text-center" method="POST">
                        <div class="form-group">
                            <label for="email">Correo:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Correo de usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="psswd">Contraseña:</label>
                            <input type="password" class="form-control" id="psswd" name="password" placeholder="Contraseña de acceso" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre(s):</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre(s)" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Apellido paterno:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellido paterno" required>
                        </div>
                        <div class="form-group">
                            <label for="surname">Apellido materno:</label>
                            <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellido materno" required>
                        </div>
                        <div class="form-group">
                            <label for="weight">Peso:</label>
                            <input type="number"  step='0.1' class="form-control" id="weight" name="weight" placeholder="Peso en kg." required>
                        </div>
                        <div class="form-group">
                            <label for="height">Estatura:</label>
                            <input type="number" step='0.01' class="form-control" id="height" name="height" placeholder="Altura en mts." required>
                        </div>
                        <div class="form-group">
                            <label for="waist">Cintura:</label>
                            <input type="number" class="form-control" id="waist" name="waist" placeholder="Cintura en cm." required>
                        </div>
                        <div class="form-group">
                            <label for="imc">I.M.C.:</label>
                            <input type="number" step='0.1' class="form-control" id="imc" name="imc" placeholder="Porcentaje de IMC" required>
                        </div>
                        <div class="form-group">
                            <label for="routine-selector">Rutina:</label>
                            <select class="form-control" id="routine-selector" name="routine-selector" required>
                                <option value="" selected disabled hidden>- Seleccione una rutina -</option>
                                {% for routine in routines_list %}
                                    <option value="{{ routine['id'] }}">{{ routine["name"] }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="diet-selector">Dieta:</label>
                            <select class="form-control" id="diet-selector" name="diet-selector" required>
                                <option value="" selected disabled hidden>- Seleccione una dieta -</option>
                                {% for diet in diets_list %}
                                    <option value="{{ diet['id'] }}">{{ diet["name"] }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="instructor-selector">Instructor:</label>
                            <select class="form-control" id="instructor-selector" name="instructor-selector" required>
                                <option value="" selected disabled hidden>- Seleccione un instructor -</option>
                                {% for instructor in instructors_list %}
                                    <option value="{{ instructor['id'] }}">{{ instructor["name"] }} {{ instructor["last_name"] }} {{ instructor["surname"] }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Terminar registro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
